* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F2937;
    color: white;
}

.container {
    margin: 100px auto 0px;
    width: 800px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.highlight {
    color: #49E084;
}

.container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 26px;
    margin-top: 10px;
}

#generate {
    background-color: #0FB981;
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 11px;
    padding: 12px 25px;
    margin-top: 45px;
    transition-duration: 0.3s;
}

#generate:hover {
    background-color: #2E3C4E;
}

hr {
    border: 1px solid #2E3C4E;
    margin-top: 45px;
}

#random-pass1 {
    margin-top: 40px;
    width: 30%;
    height: 60px;
    border-radius: 10px;
    background-color: #273648;
    color: #4DD584;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#random-pass2 {
    margin-top: 40px;
    width: 30%;
    height: 60px;
    border-radius: 10px;
    background-color: #273648;
    color: #4DD584;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}